/backend/node_modules/
/dist
/backend/.env
/backend/.env*.local
/API_TEST_GUIDE.md
/.env.example
/.vscode
README.md
/API_DOCUMENTATION.md 
/backend/uploads 
/backend/build 
/node_modules/ 
/build

# Next.js
/.next/
/out/
/frontend/.next/
/frontend/out/
/frontend/build
/frontend/.env.local
/frontend/next
.env.local
.env.*.local
.DS_Store